{% extends "little_italy/base.html" %}
{% load static %}
{% block content %}
    <section class="banner d-flex align-items-center position-relative" style="max-width: 100%;">
        <div class="container text-center" style="max-width: 100%;">
            <img src="{% static 'img/pizza.jpg' %}" alt="Pizza" class="img-fluid">
            <div class="bg-black bg-opacity-50 banner-text position-absolute top-25 start-50 translate-middle text-center p-4 rounded">
                <h2 class="p-4 text-white text-center"><strong>Disfruta de lo mejor de Italia sin salir de tu ciudad</strong></h2>
                <p class="text-white text-center"><strong>Explora nuestros sabores auténticos</strong></p>
            </div>
        </div>
    </section>
    <section class="productos-intro text-center mt-5">
        <div class="container">
            <h2 class="fw-bold">Descubre nuestros productos</h2>
        </div>
    </section>
    
    <section class="productos mt-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-6 col-md-4 mb-3">
                    <a href="{% url 'menu' %}#Pizza">
                    <div class="producto position-relative">
                        <img src="{% static 'img/pizza2.jpg' %}" alt="Pizza" class="img-fluid rounded">
                        <div class="producto-hover position-absolute top-0 start-0 w-100 h-100 d-flex flex-column justify-content-center align-items-center text-center text-white">
                            <h3 class="fw-bold">PIZZAS</h3>
                            <p>La especialidad de la casa: pizzas tradicionales, pepperoni y recetas propias.</p>
                        </div>
                    </div>
                    </a>
                </div>
                <div class="col-6 col-md-4 mb-3">
                    <a href="{% url 'menu' %}#Pastas">
                    <div class="producto position-relative">
                        <img src="{% static 'img/pasta.jpg' %}" alt="Pasta" class="img-fluid rounded">
                        <div class="producto-hover position-absolute top-0 start-0 w-100 h-100 d-flex flex-column justify-content-center align-items-center text-center text-white">
                            <h3 class="fw-bold">PASTA</h3>
                            <p>Deliciosas recetas de pasta al estilo italiano con ingredientes frescos.</p>
                        </div>
                    </div>
                    </a>
                </div>
                <div class="col-6 col-md-4 mb-3">
                    <a href="{% url 'menu' %}#Desserts">
                    <div class="producto position-relative">
                        <img src="{% static 'img/dessert.jpg' %}" alt="Postres" class="img-fluid rounded">
                        <div class="producto-hover position-absolute top-0 start-0 w-100 h-100 d-flex flex-column justify-content-center align-items-center text-center text-white">
                            <h3 class="fw-bold">POSTRES</h3>
                            <p>Si aún tienes hambre, prueba alguno de nuestros especiales postres.</p>
                        </div>
                    </div></a>
                </div>
            </div>
            <div class="text-center mt-3">
                <a href="{% url 'menu' %}" class="btn btn-outline-danger">Ver todo</a>
            </div>
        </div>
    </section>

    <section class="imagen-final mt-5">
        <div class="container d-flex align-items-center">
            <div class="col-6">
                <img src="{% static 'img/masa.jpg' %}" alt="Manos preparando masa" class="img-fluid rounded">
            </div>
            <div class="col-6 text-center">
                <h2 class="fw-bold">Todo Artesano, Todo Hecho con Amor</h2>
                <p>Disfruta de nuestros productos elaborados artesanalmente, con ingredientes frescos y auténticos, como si los hiciéramos para nuestra propia familia.</p>
            </div>
        </div>
    </section>
    
{% endblock %}
