{% extends "little_italy/base.html" %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Your Cart</h1>
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for cartitem in cart_items %}
                <tr>
                    <td><img src="{{ cartitem.item.image }}" alt="{{ cartitem.item.name }}" class="img-fluid" width="100"></td>
                    <td>{{ cartitem.item.name }}</td>
                    <td>{{ cartitem.item.type }}</td>
                    <td>{{ cartitem.quantity }}</td>
                    <td>${{ cartitem.item.price }}</td>
                    <td><a href="{% url 'remove_from_cart' cartitem.item.spoonacular_id %}" class="btn btn-dangerous">Remove</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="text-right mt-4">
        <h2>Total: ${{ total_price }}</h2>
        <a href="{% url 'checkout' %}" class="btn btn-primary">Checkout</a>
    </div>
</div>
{% endblock %}