{% extends 'little_italy/base.html' %}
{% load static %}
{% block content %}
  <h1>Menú del Restaurante</h1>

  {% for category, recipes in categories.items %}
    <div class="category">
      <h2>{{ category }}</h2>
      <div class="menu-grid">
        {% for recipe in recipes %}
          <div class="menu-item">
            <a href="{% url 'dish_detail' recipe.spoonacular_id %}">
              <img src="{{ recipe.image }}" alt="{{ recipe.name }}" />
              <h3>{{ recipe.name }}</h3>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  {% endfor %}
{% endblock %}
