{% extends "little_italy/base.html" %}
{% load static %}
{% block content %}

    <div class="menu-container">
        <h1>Menú del Restaurante</h1>

        {% for category, recipes in categories.items %}
            <div class="category">
                <h2>{{ category }}</h2>
                <div class="menu-grid">
                    {% for recipe in recipes %}
                        <a href="{% url 'menu_item' recipe.id %}">
                            <div class="menu-item">
                                <img src="{{ recipe.image }}" alt="{{ recipe.name }}">
                                <h3>{{ recipe.name }}</h3>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}